body{
    background-image: url(../images/poker_chips.jpeg);
}
.tableEdge{
    background-color: #2c2626;
    padding: 10px 25px 70px;
    border-radius: 50%;
    width: 550px;
    height: 550px;
}
.table{
    margin-top: 65px;
    background-color: #194f0a;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    margin-left: 26px;
}
.contents{
    margin: 45px;
    color: aliceblue;
}
.user{
    /*border: 5px dotted #117078;*/
    border-radius: 50%;
    align-items: center;
    padding: 10px;
    margin-top: 25px;
}
.computer{
    /*border: 5px dotted #7b1818;*/
    border-radius: 50%;
    align-items: center;
    padding: 10px;
    margin: 24px;
}
.player{
    height: 100px;
    margin-top: 5px;
    margin-left: 100px;
}
h1{
    margin-left: 205px;
    margin-top: 66px;
    text-decoration: underline;
    color: #eff2f4;
}
.dealer{
    height: 100px;
    margin-top: 50px;
    margin-left: 100px;
}

.p2{
    margin-left: 100px;
}
.p1{
    margin-left: 135px;
}
#HitMe{
    border-radius: 25%;
    cursor: pointer;
}
#Fold{
    border-radius: 25%;
    cursor: pointer;
}
#stay{
    border-radius: 25%;
    cursor: pointer;
}
#dealCards{
    border-radius: 25%;
    cursor: pointer;
}
.extraCardsForDealer{
    margin-left: 107px;
}
.extraCardsForPlayer{
    margin-left: 102px;
}