body {
    background-color: #4c4141;
    color: aliceblue;
    text-align: center;
}
.guesses{
    display: flex;
    justify-content: center;
}
#newGame{
    border: 2px solid #0cd9ff;
    border-radius: 25%;
    margin: 1%;
    background-color: aliceblue;
    color: #2c2626;
}
#top{
    text-decoration: underline;
}
button{
    color: #2c2626;
    background-color: aliceblue;
    border-radius: 25%;
    transition-duration: .5s;
}
button:hover{
    background-color: #2c2626;
    color: aliceblue;
    cursor: pointer;
}
#link{
    color: aliceblue;
}