body{
    background-color: lightblue;
}

.centerContainer{
    display: flex;
    justify-content: center;
}

#restart{
    background-color: darkslategray;
    color: bisque;
    cursor: pointer;
    border-radius: 25%;
}

button.hover{
    background-color: bisque;
    color: darkslategray;
}